*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #01528A;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    /* padding: 20px; */
    height: 270px;
    font-size: 1.2em;
    filter: drop-shadow(100px 0px 0px grey);

}
header a{
    text-decoration: none;
    color: aliceblue;
}

header li{ list-style: none; }

.nav-bar{
    display: flex;
    flex-direction: column;
    
    
    
    
}
    
.Logo-fecsa{
    width: 110px;
    border-radius: 100%;
    
}

.contenedor-ingreso{
    display: flex;
    justify-content: end;
}
.img-ingreso{
    width: 90px;
    display:block ;
    

}
.estado-cuenta{
    display: none;
}

/*--------------------- Main --------------------- */

h1{
    text-align: center;
    font-size: 3em;
    font-family: 'poppins', sans-serif;
    font-style: italic;
    
}
span{
    font-family: 'poppins';
    font-weight: 300;
}
