*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #01528A;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 270px;
    font-size: 1.2em;
    filter: drop-shadow(100px 0px 0px grey);
    font-size: 25px;
    box-shadow: 1px 10px 1px #000;;

}
header a{
    text-decoration: none;
    color: aliceblue;
}

header li{ 
    list-style: none;
    margin:20px 0px;
    font-size: 1.6rem;;
}

.nav-bar{
    display: flex;
    flex-direction: column;
        
    
}
    
.Logo-fecsa{
    width: 150px;
    border-radius: 100%;
    
}

.contenedor-ingreso{
    display: flex;
    justify-content: end;
}
.img-ingreso{
    width: 90px;
    display:block ;
    

}
.estado-cuenta{
    display: none;
}

/*--------------------- Main --------------------- */
/*---------banner---------*/
.banner{
    display: flex;
    position: relative;
    
}
.banner img{
   width: 100%; 
   position: relative;
   filter: brightness(50%);
   
   
}
h1{
    color: aliceblue;
    text-align: center;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 35%;
    left: 5%;
}
span{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
}
/*---------beneficios---------*/
h2{
    text-align: center;
    font-size: 2.5rem;
    padding: 25px 0px;
}
.ban-beneficios ul li{
    text-align: center;
    list-style: none;
    margin: 15px 0px;

}
/*-------Video presentacion--------*/
.video{
    text-align: center;
    padding: 50px 0px;
}

/*--------Alianzas------*/
.cont-alianzas{
    background-color: ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont-alianzas img{
    width: 300px;
    border-radius: 100%;

}
/*---------Footer---------*/
footer{
    color: #C7BFAA;
    background-color: #01528A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}
footer img{
    width: 200px;
}
footer table{
    
    padding: 20px;
}
footer table th{
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px 0px;
}